## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## 2,Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## 3.Create a Pandas DataFrame that contains

In [5]:
import pandas as pd

#creating the DataFrame
data ={
    'Name' : ['alice','bob','clarie'],
    'Age' : [25,30,27],
    'Gender' :['female','male','female']
}

df = pd.DataFrame(data)

# printing the DataFrames
print (df)

     Name  Age  Gender
0   alice   25  female
1     bob   30    male
2  clarie   27  female

## 4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
-In Pandas, a DataFrame is a two-dimensional data structure that represents tabular data. It consists of rows and columns, 
 similar to a spreadsheet or a SQL table. A DataFrame is designed to handle structured and heterogeneous data, where each 
column can have a different data type.

-On the other hand, a Series is a one-dimensional data structure in Pandas that represents a single column or a single row of 
 data. It is similar to a NumPy array, but with additional functionality and labeled indices. A Series can contain homogeneous
data of a single data type.

### example

In [6]:
import pandas as pd

# Creating a Series
series = pd.Series([10, 20, 30, 40, 50])
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

## 5.What are some common functions you can use to manipulate data in a Pandas DataFrame? Canyou give an example of when you might use one of these functions?

In [ ]:
Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions include:
 
-head() and tail(): These functions are used to display the first few rows (head()) or the last few rows (tail()) of a 
 DataFrame. They are useful for quickly inspecting the data.

-shape: This function returns the dimensions of the DataFrame, i.e., the number of rows and columns.

-describe(): This function generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, 
 standard deviation, minimum, maximum, and quartiles.

-sort_values(): This function is used to sort the DataFrame by one or more columns. It allows sorting in ascending or
 descending order.

-groupby(): This function is used to group the data based on one or more columns and perform aggregations or computations on 
 the grouped data.

### head()

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')  
print(df.head())  
print(df.tail())

### shape()

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
print(df.shape)

### describe()

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
print(df.describe())

### sort_values()

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
sorted_df = df.sort_values('age')
print(sorted_df)

### groupby()

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
grouped_df = df.groupby('city').mean() 
print(grouped_df)

## 6.Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
Among the options provided, both Series and DataFrame are mutable in nature in Pandas, while Panel is not.

-Series: A Series in Pandas is a one-dimensional labeled array that can hold any data type. It is mutable, meaning you can
 modify the values within a Series.

-DataFrame: A DataFrame in Pandas is a two-dimensional labeled data structure, similar to a table or a spreadsheet. It consists
 of columns, each of which can hold different data types. Like Series, DataFrame is also mutable, allowing you to modify the 
values, add or remove columns, and perform various operations on the data.

-Panel: A Panel in Pandas is a three-dimensional data structure, which can be thought of as a container for multiple
 DataFrames. However, as of Pandas version 1.0.0, the Panel class is deprecated and no longer recommended for general use. It
is recommended to use multi-indexing with a DataFrame or the xarray package for three-dimensional data.

## 7.Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
To create a DataFrame using multiple Series, you can pass a dictionary of Series objects to the pd.DataFrame() constructor. 
Each Series will represent a column in the DataFrame, and the keys of the dictionary will be used as column names.

In [9]:
import pandas as pd

# Create Series objects
series1 = pd.Series([1, 2, 3, 4, 5])
series2 = pd.Series(['a', 'b', 'c', 'd', 'e'])
series3 = pd.Series([True, False, True, False, True])

# Create DataFrame using Series
df = pd.DataFrame({
    'Column1': series1,
    'Column2': series2,
    'Column3': series3
})

# Print the DataFrame
print(df)

   Column1 Column2  Column3
0        1       a     True
1        2       b    False
2        3       c     True
3        4       d    False
4        5       e     True